<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style-app-bar-top.css">
    <title>Document</title>
</head>



<body>
    
    <section class="section-one">
        <article class="one">


        </article>

            <article class="two">
                <img src="/assets/icons/menu.png">
                <p>Page title</p>
                <img src="/assets/icons/corazon.png">
                <img src="/assets/icons/busqueda.png">
                <img src="/assets/icons/3puntos.png">            
            </article>

            <article class="three">
                <img src="/assets/icons/cuadrado.png">
                <img src="/assets/icons/circulo.png">
                <img src="/assets/icons/triangulo.png">
            </article>

    </section>
</body>
</html>
