<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style-flexbox.css">
    <title>Document</title>
</head>
<body>
    
<header></header>
<main>
    <section class="wrapper">
        
        <article class="container">
            <button class="one">top left</button>
        </article>
        <article class="container">
            <button class="two">center left</button>
        </article>
        <article class="container">
            <button class="three">bottom left</button>
        </article>
        <article class="container-one">
            <button class="four">top center</button>
        </article>
        <article class="container-one">
            <button class="five">center center</button>
        </article>
        <article class="container-one">
            <button class="six">bottom center</button>
        </article>
        <article class="container-two">
            <button class="seven">top right</button>
        </article>
        <article class="container-two">
            <button class="eight">center right</button>
        </article>
        <article class="container-two">
            <button class="nine">bottom right</button>
        </article>
    </section>
</main>
<footer></footer>

</body>
</html>